<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal">
    <Appenders>
        <CountingNoOp name="DEV_NULL"/>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFileAppender" fileName="build/logs/all.log"
                     filePattern="build/logs/all_%d{yyyy-MM-dd-hh-mm}.log.zip">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <Routing name="RoutingAppender">
            <Routes pattern="${ctx:logFileName}">
                <Route>
                    <File name="File-${ctx:logFileName}" fileName="build/logs/${ctx:logDirName}/${ctx:logFileName}.log">
                        <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
                    </File>
                </Route>
            </Routes>
            <Route ref="DEV_NULL" key="${ctx:logFileName}"/>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="DEV_NULL"/>
            <AppenderRef ref="RoutingAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>